@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CircularStd-Book;
  src: url(./fonts//Circular/CircularStd-Book.otf);
}

html {
  font-family: CircularStd-Book;
}
